extends layout

block content
  header.site-header
    div.wrap
    
      div.header-left
        h1 Essay Expander 
        
      div.header-right
        form#processWords(name="process",method="post",action="/process")
          button(type="submit",value="1",class="btn inactive") 1 <br> word
          button(type="submit",value="2",class="btn inactive") 2 <br> word
          button(type="submit",value="3",class="btn inactive") 3 <br> word
          button(type="submit",value="4",class="btn inactive") 4 <br> word
          button(type="submit",value="save",class="btn") save
        
  main.site-inner.inactive
    div.wrap

      h2#results(contenteditable="true")
        
      div#synonymmodal
        div#synonymwell
        
      div#saved
        h2 Saved
        
  footer.site-footer
    div.wrap
      div
        a(href="https://github.com/metamet/essay-expander") GitHub
    
  script(src='/javascripts/custom.js')