body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #424242;
}
a {
  color: #71BCCE;
  text-decoration: none;
}
.btn {
  height: 70px;
  width: 70px;
  border: 0;
  background: white;
  vertical-align: middle;
  font-family: Open Sans;
  font-size: .8em;
  line-height: .9em;
  outline: none;
}
.active {
  background: #c1cffc;
}
.btn.active {
  color: white;
}
.inactive {
  background: #D1D7EB;
}
.wrap:before {
	content: " ";
	display: table;
}
.wrap {
  margin: 0 auto;
  max-width: 1170px;
}
.wrap:after {
	clear: both;
	content: " ";
	display: table;
}

.site-header {
  padding-left: 20px;
}

.header-left {
  width: 50%;
  float: left;
  min-height: 70px;
}

.header-right {
  width: 50%;
  text-align: right;
  float: right;
  min-height: 70px;
}

.site-inner {
	position: relative;
  padding: 0 20px;
}

.site-footer {
  clear: both;
  margin: 0 auto;
  overflow: hidden;
  padding: 24px 0;
  text-align: center;
}

@media (max-width: 992px) {
  .wrap {
    width: 100%;
    margin: 0;
  }
}

.word {
  background-color: #FFFF99;
  cursor: help;
}
.word:hover {
  background-color: #FFFF00;
}

#saved {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 60px;
  border: 1px solid #6988F0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding: 5px;
  background: white;
  text-align: center;
  display: none;
}

#results {
  background: white;
  padding: 10px;
}
#synonymwell {
  border: 0px solid #ccc;
  background-color: white;
  padding: 10px;
}
#synonymwell ul li {
}

#synonymwell ul {
  padding-left: 18px;
  margin: 0;
}

#synonymwell h3 {
  color: black; 
  margin: 0;
  padding-bottom: 5px;
}

#synonymmodal:before {
  content: '';
  position: absolute;
  left: -7px;
  top: -2px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #6988F0;
  transform: rotate(-45deg);
}

#synonymmodal {
  position: absolute;
  display: none;
  background-color: #6988F0;
  border: 1px solid #6988F0;
  padding: 0px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}​